<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
{% if page.hidden%}    
    <meta name="hidden" http-equiv="refresh" content="3;url=https://www.mingfer.cn">
  </head>
  <body>
    构建中。。。。。。
  </body>
{% else %}
    <title>{% if page.title %} {{ page.title }} | {% endif %} CV</title>
    <link
      href="/media/cv-screen.css"
      type="text/css"
      rel="stylesheet"
      media="screen"
    />
    <link
      href="/media/cv-print.css"
      type="text/css"
      rel="stylesheet"
      media="print"
    />
    <link
      href="/media/foundation-icons/foundation-icons.css"
      type="text/css"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/774d5c5f58.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="main">
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
{% endif %}
</html>
